<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">

    <mat-form-field>
      <input matInput type="text" ngModel name="email" #emailInput="ngModel" placeholder="E-mail" email required>
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid </mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field must be not empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" ngModel name="password" #passwordInput="ngModel" placeholder="Password" password
        required>
      <mat-error *ngIf="passwordInput.hasError('required')">Password must be not empty</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary">Submit</button>
  </form>
</section>