<section class="signup-form">
    <form 
      fxLayout="column" 
      fxLayoutAlign="center center" 
      fxLayoutGap="10px" 
      #f="ngForm" 
      (ngSubmit)="onSubmit(f)"
      [formGroup]="loginForm"
    >
      <mat-form-field>
        <input matInput type="text" placeholder="E-mail" formControlName="email" >
        
        <mat-error>E-mail is invalid </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error>Password must be not empty</mat-error>
      </mat-form-field>
  
      <button type="submit" mat-raised-button [disabled]="loginForm.invalid" color="primary">Submit</button>
    </form>
  </section>